<?xml version="1.0" encoding="UTF-8" ?>
<configuration status="info">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="ACCEPT"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}%-5level %L %M - %msg%xEx%n"/>
        </Console>
    </appenders>
    <loggers>
        <logger name="com.adun" level="info"/>
        <root level="info">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>
